/* ---PARAMETERS--- */

:root{
    --primaryColor: #0A3F70;
    --secondaryColor: #CDAA6C;
    --lightColor: #ffffff;
    --bgColor-1: rgb(225, 225, 225);
    --bgColor-2: #ffffff;
    --padding: 5%;
    --navColor:#ff274b;
}

/* ---GENERAL--- */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family:  Arial, sans-serif ;
    /* font-family:  'Arial Narrow', Arial, sans-serif; */
    font-size: 16px; /* 1 rem = 16px */
    color: black;
}
span{
    color: var(--primaryColor);
}
em{
    color: var(--secondaryColor);
}

h1{
    font-size: 3rem;
    color: var(--primaryColor);
}
h2{
    font-size: 1.8rem;
    letter-spacing: 0.32;
    cursor: pointer;
    color: var(--secondaryColor);
}
h3{
    font-size: 1.5rem;
    font-weight: bold;
}
h5{
    font-size: 1.37rem;
    letter-spacing: 1px;
}
p{
    color: black;
    letter-spacing: 0;
    line-height: 1.8rem;
    font-size: 1rem;
    text-align: justify;
}

a{
    text-decoration: none;
}
a:link{
    color:black;
}
a:hover{
    color: black;
}
a:visited{
    color: black;
}
a:active{
    color:black;
}

.title{
    color: var(--primaryColor);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2rem;

}
.title:before, .title:after
{
    display: inline-block;
    content: "";
    border-top: .3rem solid var(--secondaryColor);
    width: 2rem;
    margin: 0rem .5rem;
    transform: translateY(-0.3rem);
}

.more{
    text-align: center;
    padding-top: 1rem;
}
.more a{
    text-transform: capitalize;
    transition: 0.5s;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    /* border: .2rem solid var(--lightColor); */
    border-radius: 10px;
    padding: .5rem;
}
.more a:link{
    color: var(--primaryColor);  
}
.more a:visited{
    color: var(--primaryColor);
}
.more a:hover{
    color: var(--primaryColor);
    text-shadow: 0px 0px 2px #000000;
    font-size: 1.4rem;
}

/* ---NAVIGATION BAR--- */

nav{
    background-color: rgba(225, 225, 225, 0.33);
    padding-left: var(--padding);
    padding-right: var(--padding );
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible; 
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}

nav .text-logo{
    color: var(--secondaryColor);
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0px 0px 2px #000000;
}

nav ul{
    text-align: right;
}
nav ul li{
    list-style-type: none ;
    display: inline-block;
    margin: 0 .5rem;
}
nav ul li a{
    text-transform: capitalize;
    transition: 0.5s;
    font-size: .9rem;
    letter-spacing: 0px;
    font-weight: bold;
}
nav ul li a:link{
    color: var(--lightColor);
    text-shadow: 0 0 3px var(--primaryColor);
}
nav ul li a:visited{
    color: var(--lightColor);
}
nav ul li a:hover{
    color: var(--primaryColor);
}

/* ---HOME--- */

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-image: url("../imgs/ba6.jpg");
    background-size:cover;
    background-repeat: no-repeat; */
}
.home .content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    margin: 3rem 0 5rem 0;
}
.home img{
    width: 300px;
    transition: transform 5s, left 5s;   
}
.home img:hover{
    transform: scale(1.2);
}
.home h1{
    color: var(--primaryColor);
    font-size: 2.5rem;
    font-style: italic;
    letter-spacing: 1px;
    margin: 1rem;
}
.home h3{
    color: var(--primaryColor);
    letter-spacing: 1px;
    text-align: center;
}
.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.5s;
}
.social img:hover{
    transform: scale(1.2);
}


/* ---NOVA--- */

.nova{
    background-color: var(--bgColor-1);
    padding: 60px var(--padding) 2rem var(--padding);
}
.nova .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nova .card{
    width: 350px;
    background-color: white;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    margin: 1rem;
    text-align: center;
    transition: 0.5s;
}
.nova .card:hover{
    margin: 0;
}
.nova em{
    font-size: 2rem;
    text-align: center;
    color: var(--secondaryColor);
    margin: 1rem;
}
.nova h5{
    color: var(--primaryColor);
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.nova .par{
    letter-spacing: 0px;
    line-height: 1.85rem;
    font-size: 1.2rem;
    text-align: center;
}

/* ---PARTNERS LOGOS--- */

.partnersLogos{
    background-color: var(--bgColor-2);
    padding: 60px 0 2rem 0;
}
.partnersLogos .content-partners{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
}
.partnersLogos .logo{
    width: 170px;
    height: 120px;
    border-radius: 5%;
    margin: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    /* background-color: var(--bgColor-1); */
}
.partnersLogos .logo img{
    width: 100%;
}
.partnersLogos .logo:hover{
    width: 150px;
}

/* ---SERVICES/DIVISIONS--- */

.services{
    background-color: var(--bgColor-1);
    padding: 60px 0 2rem 0;
}
.services .box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.services .card{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    padding: .5rem .5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.services .card:hover{
    width: 160px;
    height: 160px;
    background-color: var(--secondaryColor);
}
.services .card em{
    font-size: 2.5rem;
    color: var(--primaryColor);
    padding-bottom: .5rem;
}
.services .card h5{
    color: var(--primaryColor);
    text-align: center;
    font-size: 1rem;
}

/* ---SORGENTE SRL--- */

.sorgente{
    background-color: var(--bgColor-21);
    padding: 60px var(--padding) 2rem var(--padding);
}
.sorgente .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sorgente .container-text{
    width: 550px;
}
.sorgente p{
    font-size: 1.2rem;
}
.sorgente .container-img{
    margin: 1rem;
}
.sorgente .container-img img{
    width: 250px;
    transition: 1s;
}
.sorgente .container-img img:hover{
    width: 280px;
}

/* ---TECHNICAL SUPPORT--- */

.technical{
    background-color: var(--bgColor-1);
    padding: 60px var(--padding) 2rem var(--padding);
}
.technical .box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.technical .par{
    width: 550px;
    letter-spacing: 0px;
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-align: justify;
}
.technical .ser{
    margin: 1rem;
    transition: .5s;
}
.technical ul li i{
    color: var(--primaryColor);
    font-size: 1.5rem;
    width: 30px;
}
.technical ul li{
    list-style-type: none;
    font-size: 1.2rem;
    margin: .5rem .5rem;
    transition: 0.5s;
}
.technical ul li:hover{
    font-size: 1.3rem;
}

/* ---CONTACT US--- */

.contact{
    background-color:var(--bgColor-2);
    padding: 2rem 0 2rem 0;
}
.contact .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact .card{
    margin: 1rem;
}
.contact .par{
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 1rem;
}
.contact .par i{
    color: var(--primaryColor);
    width: 20px;
}
.contact .par a:hover{
    color: var(--primaryColor);
    font-weight: bold;
}

/* ---FOOTER--- */

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: .5rem 0rem;
}

/* ---PARTNER PAGE NAV--- */

.partnerPage nav a i{
    width: 20px;
}

.partnerPage nav a{
    text-transform: capitalize;
    transition: 0.5s;
    font-size: .9rem;
    letter-spacing: 0px;
    font-weight: bold;
}
.partnerPage nav a:link{
    color: var(--lightColor);
    text-shadow: 0 0 3px var(--primaryColor);
}
.partnerPage nav a:visited{
    color: var(--lightColor);
}
.partnerPage nav a:hover{
    color: var(--primaryColor);
}

/* ---PARTNER PAGE CONTENT--- */

.partnerPage{
    margin: 60px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    background-color: var(--bgColor-1);
}
.partnerDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}
.partnerDetails .card{
    background-color: var(--bgColor-2); 
    width: 90%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 50px;
}
.partnerDetails .par{
    line-height: 1.5rem;
    padding: 0 1rem 0 1rem;
}
.partnerDetails .logo-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
}
.partnerDetails .logo{
    width: 170px;
    height: 120px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.partnerDetails .logo img{
    width: 100%;
}
.partnerDetails .logo:hover{
    width: 150px;
}

.maintList{
    text-align: center  ;
}

.maintList i{
    color:#0A3F70;
    font-size: x-large;
}

.news{
    text-align: center;
    background-color: rgba(225, 225, 225, 0.33);
    padding: 10px;
    border-radius: 70px;
    margin-top: 20px;
}

.news img{
    width: 40px;
    height: 30px;
    padding-top: 10px;
}

.news .delamaLogo{
    width: 50px;
    height: 55px;
    padding-bottom: 8px;
}

.news b{
    text-decoration: underline;
}